{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <a href="{% url 'create_user' %}">Create account</a>
    <br><a href="{% url 'password_reset' %}">Forgot password?</a>
{% endblock %}