{% extends 'base.html' %}

{% block title %}
    Password was changed
{% endblock %}

{% block content %}
    <h6>The password has been changed</h6>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}