{% extends 'base.html' %}

{% block title %}
    Password rest confirmation
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
{% endblock %}