{% extends 'base.html' %}

{% block title %}
    List of categories
{% endblock %}

{% block content %}
{#    {{ all_categories }}#}
    <a href="{% url 'category:category_create' %}"> Add new category</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
    <tbody>
    {% for category in all_categories %}
        <tr>
            <th>{{ category.id }}</th>
            <th>{{ category.name }}</th>
            <th>{{ category.description }}</th>
            <th>
                <a href="{% url 'category:category_update' category.id%}">Update category</a>
                <a href="{% url 'category:category_delete' category.id%}">Delete category</a>
            </th>
        </tr>
{#        <p>{{ category }}</p>#}
{#        <p>{{ category.name }}</p>#}
{#        <p>{{ category.description }}</p>#}
{#        <a href="{% url 'category:category_update' category.id%}">Update category</a>#}
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'home_page' %}">Home</a>
{% endblock %}