{% extends 'base.html' %}

{% block titel %}
    Add new category
{% endblock %}

{% block content %}
    <a href='{% url 'category:category_list' %}'>List all categories</a>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
{#        {%  for field in form %}#}
{#            {{ field.as_p }}#}
{#        {% endfor %}#}
    <button type="submit">
        Save
    </button>
    </form>
{% endblock %}