{% extends 'base.html' %}

{% block title %}
    Update Category
{% endblock %}

{% block content %}
    <a href="{% url 'category:category_list' %}">List categories</a>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>

    </form>
{% endblock %}