{% extends 'base.html' %}

{% block title %}
    Category Deletion
{% endblock %}

{% block content %}
    <form method="post" action="">
        {%  csrf_token %}
        <p>Are you sure you want to delete this category?</p>
        <button type="submit">Delete</button>
    </form>
{% endblock %}