{% extends 'base.html' %}

{% block title %}
    Permission Creation
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create permission</button>
    </form>
{% endblock %}