{% extends 'base.html' %}

{% block title %}
    Add new product
{% endblock %}

{% block content %}
    <a href="{% url 'product:product_list' %}">List all products</a>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">
        Save
    </button>
    </form>
{% endblock %}
