{% extends 'base.html' %}

{% block title %}
    List of products
{% endblock %}

{% block content %}
{#    {{ all_categories }}#}
    <a href="{% url 'product:product_create' %}"> Add new product</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
    <tbody>
    {% for product in all_products %}
        <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.price }}</th>
            <th>{{ product.category }}</th>
            <th>{{ product.description }}</th>
            <th>
                <a href="{% url 'product:product_update' product.id%}">Update product</a>
                </br><a href="{% url 'product:product_delete' product.id%}">Delete product</a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'home_page' %}">Home</a>
{% endblock %}