{% extends 'base.html' %}

{% block title %}
    Product Deletion
{% endblock %}

{% block content %}
    <form method="post" action="">
        {%  csrf_token %}
        <p>Are you sure you want to delete this product?</p>
        <button type="submit">Delete</button>
    </form>
{% endblock %}