{% extends 'base.html' %}

{% block title %}
    Update Product
{% endblock %}

{% block content %}
    <a href="{% url 'product:product_list' %}"> List products</a>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
{% endblock %}
