{% extends 'base.html' %}

{% block title %}
    Stores home
{% endblock %}

{% block content %}
    <h4>Salut {{ request.user.first_name }}</h4>
    <nav>
        {% if perms.category.view_category %}
            <a href="{% url 'category:category_list' %}">All Categories</a>
            <br><a href="{% url 'product:product_list' %}">Products</a>
        {% endif %}
{#        {{ request.user.extenduser.group }}#}
        {% if request.user.extenduser.group == 'Administrator' %}
            <br><a href="{% url 'groups:groups_create' %}">Create Group</a>
        {% endif %}
        <br><a href="{% url 'groups:groups_create' %}">Create Group</a>
        <br><a href="{% url 'permissions:permission_create' %}">Create Permissions</a>
    </nav>

{% endblock %}