{% extends 'base.html' %}

{% block title %}
    Create New User
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create user</button>
    </form>
    <a href="{% url 'login' %}">Back</a>
{% endblock %}